<main class="text-center vertical-align">
    <h1>Оплата товара прошла успешно!</h1>
    <div class="block-center">
        <a class="btn btn-default btn-primary btn-lg" href="/" role="button">Вернуться назад</a>
    </div>
</main>